
@{
    ViewBag.Title = "NotFound";
}

<div class="secondary_page_wrapper">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <div class="container_404">

                    <p class="not_found_404">404</p>

                    <p class="not_found">không tìm thấy!</p>

                    <p>Xin lỗi ! chúng tôi không tìm thấy</p>

                    <a href="#" class="button_dark_grey middle_btn">Quay về</a>

                    <a href="index.html" class="button_dark_grey middle_btn">Trang chủ</a>

                    <form class="clearfix search">

                        <input type="text" name="" tabindex="1" placeholder="Search..." class="alignleft">

                        <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                        <div class="search_category alignleft">

                            <div class="open_categories">All Categories</div>

                            <ul class="categories_list dropdown">

                                <li class="animated_item"><a href="#">Medicine &amp; Health</a></li>
                                <li class="animated_item"><a href="#">Beauty</a></li>
                                <li class="animated_item"><a href="#">Personal Care</a></li>
                                <li class="animated_item"><a href="#">Vitamins &amp; Supplements</a></li>
                                <li class="animated_item"><a href="#">Baby Needs</a></li>
                                <li class="animated_item"><a href="#">Diet &amp; Fitness</a></li>
                                <li class="animated_item"><a href="#">Sexual Well-being</a></li>

                            </ul>

                        </div><!--/ .search_category.alignleft-->
                        <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                        <button class="button_blue def_icon_btn alignleft"></button>

                    </form><!--/ #search-->

                </div>

            </div><!--/ [col]-->

        </div><!--/ .row -->

    </div><!--/ .container-->

</div>

