<section class="content-header">
    <h1>
        Cập nhật quyền
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="application_roles">Danh mục quyền</a></li>
        <li class="active"><a ui-sref="edit_application_role">Cập nhật</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">{{role.Name}}</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" role="form" novalidate name="frmUpdateAppRole" ng-submit="updateApplicationRole()">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error' : frmUpdateAppRole.name.$invalid && !frmUpdateAppRole.name.$pristine }">
                                <label class="col-sm-2 control-label">Tên quyền</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" class="form-control" required ng-model="role.Name">
                                    <span ng-show="frmUpdateAppRole.name.$invalid && !frmUpdateAppRole.name.$pristine" class="has-error">Tên quyền là bắt buộc.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmUpdateAppRole.description.$invalid && !frmUpdateAppRole.description.$pristine}">
                                <label class="col-sm-2 control-label">Mô tả</label>
                                <div class="col-sm-10">
                                    <textarea type="text" class="form-control" ng-maxlength="256" ng-model="role.Description" name="description"></textarea>
                                    <span ng-show="frmUpdateAppRole.description.$error.maxlength" class="has-error">Mô tả tối đa 256 ký tự.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" ng-disabled="frmUpdateAppRole.$invalid" class="btn btn-primary" value="Lưu lại" />
                                    <a ui-sref="application_roles" class="btn btn-default">Hủy bỏ</a>
                                    <button class="btn btn-default" type="button" ng-click="resetForm()">Làm lại</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>