<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h1>Thông tin đơn hàng</h1>
            <p>Kính chào quý khách:<b> {{CustomerName}}</b> - {{Email}}</p>
            <p>Cảm ơn quý khách đã đặt hàng ở <b>ShopMe</b></p>
            <p>Mã đơn hàng của bạn là: <b>{{OrderID}}</b></p>

            <p>Bạn có thể truy cập vào ứng dụng và sử dụng mã đơn hàng trên để kiểm tra đơn hàng.</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <span><b>ShopMe</b> hân hạnh phục vụ quý khách</span>

        </div>
    </div>
</body>
</html>
